<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://localhost:8080/styles/aboutus.css"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" type="image/icon type" href="../assets/logo.JPG" />
    <title>About Us</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="http://localhost:8080/">
        <img
          src="http://localhost:8080/assets/logo.JPG"
          height="28"
          alt="book FINDER"
        />
      </a>
      <h4 class="logo-heading" style="color: rgba(0,0,0,.5)">
        <strong>BOOK FINDER</strong>
      </h4>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a
            href="http://localhost:8080/"
            class="nav-item nav-link"
            style="font-weight: bold;"
            >Home</a
          >
          <a href="#" class="nav-item nav-link" style="font-weight: bold;"
            >Features</a
          >
          <a href="#" class="nav-item nav-link" style="font-weight: bold;"
            >About Us</a
          >
          <a
            href="http://localhost:8080/"
            class="nav-item nav-link"
            style="font-weight: bold;"
            >Log In</a
          >
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="info-background img-fluid col-md-7"></div>
        <div class="text-background col-md-5">
          <h2 class="mt-5" style="color: #fff;font-size: 50px;">O U R</h2>
          <h2 style="color: #fff; font-size: 50px;">W E A P O N -</h2>
          <p style="color: rgb(202, 163, 163); font-size: 27px;">
            IS THE ABILITY TO CAPTURE YOUR AUDIENCE ATTENTION
          </p>
          <p class="justify-content-start" style="color: rgb(235, 191, 191);">
            This platform provides the ability to create individual
            authentication details. It provides a huge database of books where
            each user can search for their own interest of books. It also
            provides the capability to create individual wishlist for each user.
          </p>
          <button
            type="button"
            id="home_Button"
            onclick="window.location.href = 'http://localhost:8080/';"
            class="btn btn-custom mb-4 text-uppercase"
            style="color: aliceblue;"
          >
            <span class="material-icons">
              navigate_before
            </span>
            Back to Home
          </button>
        </div>
        <!-- <div class="col-md-1">hello</div> -->
      </div>
    </div>
  </body>
</html>
