<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"
    />

    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"
    ></script>
    <!-- <link rel="http://localhost:8080/styles/bookfind.css" type="" href="" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="http://localhost:8080/">
        <img
          src="http://localhost:8080/assets/logo.JPG"
          height="28"
          alt="book FINDER"
        />
      </a>
      <h4 class="logo-heading" style="color: rgba(0,0,0,.5)">
        <strong>BOOK FINDER</strong>
      </h4>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a
            href="http://localhost:8080/"
            class="nav-item nav-link"
            style="font-weight: bold;"
            >Home</a
          >
          <a href="#" class="nav-item nav-link" style="font-weight: bold;"
            >Features</a
          >
          <a href="#" class="nav-item nav-link" style="font-weight: bold;"
            >About Us</a
          >
          <a
            onclick="window.location.href='http://localhost:8080/'"
            class="nav-item nav-link"
            style="font-weight: bold;cursor: pointer;"
            >Logout</a
          >
        </div>
      </div>
    </nav>
    <div class="card mt-5 mr-5 ml-5 mb-5" id="bookInfo">
      <table
        id="table_id"
        class="display table-design cell-border"
        data-page-length="10"
      >
        <thead>
          <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Cover Page</th>
          </tr>
        </thead>
        <!-- <div class="loader" id="loader">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
          <div class="bar bar4"></div>
          <div class="bar bar5"></div>
          <div class="bar bar6"></div>
          <div class="bar bar7"></div>
          <div class="bar bar8"></div>
          <br />
          <div>loading data...</div>
        </div> -->
        <tbody></tbody>
      </table>
    </div>
    <script src="http://localhost:8080/scripts/script.js"></script>
  </body>
</html>
