<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"
    />

    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"
    ></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
            initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="http://localhost:8080/styles/wishlist.css" />
    <link rel="icon" type="image/icon type" href="../assets/logo.JPG" />
    <title>Book Finder</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="http://localhost:8080/">
        <img
          src="http://localhost:8080/assets/logo.JPG"
          height="28"
          alt="book FINDER"
        />
      </a>
      <h4 class="logo-heading" style="color: rgba(0, 0, 0, 0.5);">
        <strong>BOOK FINDER</strong>
      </h4>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a
            href="http://localhost:8080/"
            class="nav-item nav-link"
            style="font-weight: bold;"
            >Home</a
          >
          <a
            href="#exampleModalLong"
            class="nav-item nav-link"
            data-toggle="modal"
            id="navbar_feature_btn"
            data-target="#exampleModalLong"
            style="font-weight: bold;"
            >Features</a
          >
          <a
            href="http://localhost:8080/views/aboutus.html"
            class="nav-item nav-link"
            style="font-weight: bold;"
            >About Us</a
          >
          <a
            href=""
            class="nav-item nav-link"
            id="user"
            style="font-weight: bold;"
          ></a>
          <a
            onclick="window.location.href='http://localhost:8080/'"
            class="nav-item nav-link"
            style="font-weight: bold; cursor: pointer;"
            >Logout</a
          >
        </div>
      </div>
    </nav>
    <div
      class="modal fade"
      id="exampleModalLong"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="card modal-dialog car-back w-90">
        <img
          class="card-img-top"
          src="http://localhost:8080/assets/features.jpg"
          alt="Card image cap"
          style="height: 20rem;"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: #fff;">Features</h5>
          <p class="card-text" style="color: #fff;">
            1) Provides a huge number of Books to Seach
          </p>
          <p class="card-text" style="color: #fff;">
            2) Provides Authentication for different user
          </p>
          <p class="card-text" style="color: #fff;">
            3) Provides Searching and Sorting based on Table Columns
          </p>
          <p class="card-text" style="color: #fff;">
            4) Provides a User Upecific Wishlist
          </p>
          <button type="button" class="btn feat">
            Got it!
          </button>
        </div>
      </div>
    </div>
    <div id="bookWishlist"></div>
    <script src="http://localhost:8080/scripts/script.js"></script>
  </body>
</html>
