body {
  background: linear-gradient(-90deg, #02203c, #001528);
}

.mt-5 {
  margin-top: 4rem !important;
}

/* table,
th,
td {
  border-collapse: collapse;
  color: #f44292;
}



tbody {
  color: black;
}

th,
td {
  padding: 5px;
} */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background: #f3f3f3;
  font-weight: bold;
  padding: 2px;
}

td {
  background: #fafafa;
  text-align: center;
  height: 40px;
}
tr {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  /* z-index: 9999; */
  background: url("http://localhost:8080/assets/loader.gif") center no-repeat;
}

.paginate_button {
  color: #723dbe;
}

.wish-button {
  color: rgb(131, 95, 95);
  border-color: #723dbe;
}

.wish-button:hover {
  background-color: #723dbe;
}

label {
  color: #f3f3f3;
}

.dataTables_info {
  display: none;
}

.pagination > li > a {
  background-color: white;
  color: #5a4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #5a4181 !Important;
  border: solid 1px #5a4181 !Important;
}

.pagination > .active > a:hover {
  background-color: #5a4181 !Important;
  border: solid 1px #5a4181;
}

.validate {
  color: rgb(39, 179, 39);
  height: 2rem;
  font-weight: bold;
  text-align: center;
}

.validate-failed {
  color: rgb(201, 30, 30);
  height: 2rem;
  font-weight: bold;
  text-align: center;
}

.feat {
  background: #723dbe;
  border-color: #723dbe;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 40px;
  cursor: pointer;
}

.car-back {
  background: linear-gradient(-90deg, #02203c, #001528);
}
